---
x-volumes: &volumes
  - /etc/timezone:/etc/timezone:ro
  - /etc/localtime:/etc/localtime:ro
  - ./config/specs:/config/specs:ro
x-workdir: &default-workdir /config/specs
x-tty: &tty true

services:

  k6-runner:
    image: grafana/k6:1.4.1
    container_name: k6-runner
    volumes: *volumes
    working_dir: *default-workdir
    environment:
      - TARGET_URL=http://runner-04-pi.fritz.box:8080
    command: run --no-usage-report --summary-mode full petclinic.js
    tty: *tty
