---
services:

  system-under-test:
    image: springcommunity/spring-petclinic:3.5.6
    container_name: system-under-test
    ports:
      - 8080:8080

  sleeper:
    image: alpine:3.23.2
    container_name: sleeper
    command: ["ash", "-c", "sleep 15"]

  k6-runner:
    environment:
      - TARGET_URL=http://system-under-test:8080
    depends_on:
      sleeper:
        condition: service_completed_successfully
