---
x-volumes: &volumes
  - /etc/timezone:/etc/timezone:ro
  - /etc/localtime:/etc/localtime:ro
  - project-root-volume:/workspaces/telemetry
x-workdir: &default-workdir /workspaces/telemetry
x-tty: &tty true

volumes:

  project-root-volume:
    driver: local
    driver_opts:
      type: none
      device: .
      o: bind

services:
  lint-yaml:
    image: cytopia/yamllint:latest
    volumes: *volumes
    working_dir: *default-workdir
    command: .
    tty: *tty

  lint-workflows:
    image: rhysd/actionlint:1.7.10
    volumes: *volumes
    working_dir: *default-workdir
    command: -color
    tty: *tty
    user: root # TODO ... do not run as root !!!!!

  lint-filenames:
    image: lslintorg/ls-lint:1.11.2
    volumes: *volumes
    working_dir: *default-workdir
    tty: *tty

  lint-folders:
    image: sommerfeldio/folderslint:latest
    volumes: *volumes
    working_dir: *default-workdir
    command: .
    tty: *tty

  lint-markdown-links:
    image: lycheeverse/lychee:sha-a11d515-alpine
    volumes: *volumes
    working_dir: *default-workdir
    command: --config .lychee.toml .
    tty: *tty
    user: root # TODO ... do not run as root !!!!!

  lint-alloy-config:
    image: grafana/alloy:v1.12.2
    volumes: *volumes
    working_dir: *default-workdir
    command: validate components/metrics/config/alloy/config.alloy
    tty: *tty
