---
apiVersion: 1
groups:
  - orgId: 1
    name: service-overview
    folder: Services
    interval: 5m
    rules:
      # -----------------------------------------------------------------------
      - uid: service-up-and-running
        title: Website or Web Service availability
        condition: C
        data:
          - refId: A
            relativeTimeRange:
              from: 10800
              to: 0
            datasourceUid: prometheus
            model:
              adhocFilters: []
              datasource:
                type: prometheus
                uid: prometheus
              editorMode: code
              exemplar: false
              expr: |-
                probe_success{
                  instance=~".+",
                  job=~".+"
                }
              format: time_series
              instant: false
              interval: 1m
              intervalFactor: 1
              intervalMs: 300000
              legendFormat: ""
              maxDataPoints: 100
              range: true
              refId: A
          - refId: B
            datasourceUid: __expr__
            model:
              conditions:
                - evaluator:
                    params: []
                    type: gt
                  operator:
                    type: and
                  query:
                    params:
                      - B
                  reducer:
                    params: []
                    type: last
                  type: query
              datasource:
                type: __expr__
                uid: __expr__
              expression: A
              intervalMs: 1000
              maxDataPoints: 43200
              reducer: last
              refId: B
              type: reduce
          - refId: C
            datasourceUid: __expr__
            model:
              conditions:
                - evaluator:
                    params:
                      - 1
                    type: lt
                  operator:
                    type: and
                  query:
                    params:
                      - C
                  reducer:
                    params: []
                    type: last
                  type: query
              datasource:
                type: __expr__
                uid: __expr__
              expression: B
              intervalMs: 1000
              maxDataPoints: 43200
              refId: C
              type: threshold
        dashboardUid: services-overview
        panelId: 1
        noDataState: OK
        execErrState: Error
        for: 25m
        annotations:
          __dashboardUid__: services-overview
          __panelId__: "1"
          description: Blackbox Exporter HTTP probe reports a service as no longer up
          summary: Service is no longer up and running
        labels:
          notification/channel: google-chat
          notification/enabled: "false"
          severity: medium
        isPaused: false
        notification_settings:
          receiver: google-chat
