---
name: 'Housekeeping: Issues + PRs'

on:
  issues:
    types:
      - opened
  pull_request:
    types:
      - opened
      - assigned

permissions:
  contents: read
  issues: write
  pull-requests: write
  repository-projects: write

jobs:
  housekeeping-issues:
    uses: sommerfeld-io/.github/.github/workflows/housekeeping-issues.yml@main
