---
name: "Pipeline: Commit + Test"

on:
  push:
    branches-ignore:
      - dependabot/**
    paths-ignore:
      - '**.adoc'
      - '**.md'
      - 'docs/**'
      - '.devcontainer/**'
      - '.github/workflows/dev-environment.yml'
      - '.vscode/**'
      - '.gitkeep'
  schedule:
    - cron: '0 1 * * 2'

env:
  IMAGE_TAG_RC: rc
  IMAGE_TAG_LATEST: latest
  IMAGE_NAME: telemetry
  CONTEXT: .
  DOCKERFILE: Dockerfile
  REGISTRY: docker.io

permissions:
  contents: read

jobs:

  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@2.0.0
        with:
          ignore_paths: node_modules target

  lint:
    runs-on: ubuntu-latest
    name: ${{ matrix.linter }}
    strategy:
      matrix:
        linter: ['yaml', 'workflows', 'filenames', 'folders', 'alloy-config', 'markdown-links']
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Run lint-${{ matrix.linter }} from docker-compose.yml
        env:
          LINTER: ${{ matrix.linter }}
        run: docker compose up "lint-$LINTER" --exit-code-from "lint-$LINTER"
        shell: bash

  inspec-profile-check:
    runs-on: ubuntu-latest
    name: ${{ matrix.profile }}
    strategy:
      matrix:
        profile: ['telemetry', 'metrics']
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Run check-profile in test/${{ matrix.profile }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PROFILE: ${{ matrix.profile }}
        run: |
          (
            cd "tests/$PROFILE" || exit 1
            docker compose up check-profile --exit-code-from check-profile
          )
        shell: bash

  # ----- Release stage ---------------------------------------------------------------------------

  test-compose-stacks:
    runs-on: ubuntu-latest
    name: ${{ matrix.profile }}
    needs: [
      'lint',
      'inspec-profile-check',
      'shellcheck',
    ]
    strategy:
      matrix:
        profile: ['telemetry', 'metrics']
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Startup compose stack in components/${{ matrix.profile }} (= system under test)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PROFILE: ${{ matrix.profile }}
        run: |
          (
            cd "components/$PROFILE" || exit 1
            docker compose up -d --wait
          )
        shell: bash
      - name: Run tests from tests/${{ matrix.profile }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PROFILE: ${{ matrix.profile }}
        run: |
          (
            cd "tests/$PROFILE" || exit 1
            docker compose up test --exit-code-from test
          )
        shell: bash
      - name: Shutdown compose stack in components/${{ matrix.profile }} (= system under test)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PROFILE: ${{ matrix.profile }}
        run: |
          (
            cd "components/$PROFILE" || exit 1
            docker compose down --remove-orphans --volumes
          )
        shell: bash

  # ----- Release stage ---------------------------------------------------------------------------

  release-code:
    uses: sommerfeld-io/.github/.github/workflows/lib-release-code.yml@main
    needs: [
      'test-compose-stacks',
    ]
    if: ${{ (github.actor != 'dependabot[bot]') && (github.ref == 'refs/heads/main') }}
    secrets:
      GH_TOKEN_REPO_AND_PROJECT: ${{ secrets.GH_TOKEN_REPO_AND_PROJECT }}
    permissions:
      contents: write
